footer {
    font-size: 80%;
}

footer .final {
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}

footer hr {
    margin-bottom: 0;
}

.links {
    color: black;
}

div.bottom-border {
    border: 1px solid #31b389;
    max-width: 100%;
}

.button-admin {
    display: block;
}

.btn-primary {
    border-color: #278ab0;
    background-color: #278ab0;
    color: white;
}

.btn-outline-neon {
    border-color: #31b389;
    color: #31b389;
}

.btn-outline-neon:hover {
    border-color: #31b389;
    background-color: #31b389;
    color: white;

}

div.wrapper {
    width: 100%;
    height: 100rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 40%);
    row-gap: 1em;
    column-gap: 1em;
    overflow-y: auto;
}

/* .card {
    display: inline-block;

} */